/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1330px) {
    .work {
        p {
            padding: 0 20px !important;
        }
    }
}
@media only screen and (max-width : 1200px) {
    .sm, .sm-02, .sm-03 {
        display:  none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .big, .big-02 {
        float: none !important;
        width: 100% !important;
    }
    .text, .text-02, .text-03 {
        @include textClass-sm;
    }
    .text-03 {
        display: none !important;
    }
    .text-04 {
        display: block !important;
        @include textClass-sm;
    }
    .img-right, .img-left {
        width: 50% !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo02 {
        display: block !important;
        margin: 0 auto;
        padding: 10px 0;
    }
    .burger {
        display: inline-block !important;
        margin-left: 90%;
        margin-top: 5px;
        cursor: pointer;
    }
    .main_nav {
        ul {
            height: 0 ;
            overflow: hidden;
        }
        background-color: #c9c9c9;
        .logo {
            display: none !important;
        }
        li {
            display: block !important;
            padding: 0 !important;
        }
        a {
            display: block; 
            padding: 10px !important;
            border-bottom: 1px solid white;
            color: white !important;
            &:hover {
                background-color: #64c29e;
            }
        }
        .border {
            border-top: 1px solid white;
        }
    }
    .open {
        height: auto !important;
    }
    .sm {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
